
.modal-fullscreen .modal-body {
    overflow-y: auto;
}

.thumbnail {
    width: 80px;
    height: 100px;
    margin-right: 10px;
    margin-left: 10px;
    transition: all .33s ease;  
}


.thumbnail.active {
    scale: 1.05;
}

.thumbnail img {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    pointer-events: none;
    transition: all .33s ease;
}

.gallery-slide img {
    cursor: zoom-in;
}

.img-grabbing {
    cursor: grabbing !important;
}


.gallery .gallery-slides.active {
    transform: translateX(0); /* Применяем анимацию только для активного слайда */
}

.thumbnail.active {
    transform: scale(1.2); /* Масштабирование активной миниатюры */
    transition:  transform 0.2s ease-in-out; /* Добавляем анимацию на смену активной миниатюры */
}
